.field{
    position: relative;
    z-index: 1;
    width:20vw;
    background-color: white;
    background-color: #e7e7e7;
    padding: calc(1*var(--index));
    border-radius: calc(0.9*var(--index));
    padding-inline: calc(1.2*var(--index));
    padding-top: calc(1*var(--index));
    transition: all 0.3s ease-out;
    resize: none;         
    border: none;  
    outline: none;  
    font-size:var(--caption-font);
}

.caption{
    color: var(--light-grey);
    padding-left: calc(1.2*var(--index));
    font-size: var(--subcaption-font);
}

.fieldForm{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1.2vh;
}

.glass{
    position: relative;
    top:1.2vh;
    left:-19.25vw;
    z-index: 3;
    transition: all 0.3s ease-out;
}


.wrapper{
    position: relative;
    z-index: 1;
}


.wrapper:focus-within .field{
    box-shadow: 0px 15px 20px -12px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-out;
}