:root {
    --primary-color: #0E0B60;
    --primary-color-dark: #06011D;
    --primary-color-light: rgb(35, 12, 136);
    --dark-gradient: linear-gradient(270deg,rgba(6, 1, 29, 1) 44%, rgba(11, 9, 76, 1) 100%);
    --yellow: #FFE100;
    --font-family: Raleway, Roboto, sans-serif;
    --index: calc(1vh + 1vw);
}

*{
    font-family: Raleway, Roboto, sans-serif;
}