.wrapper{
    padding-block: var(--page-vertical-offset);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: start;
    padding-inline: var(--page-main-padding);
    gap: var(--page-vertical-gap);
}

.topWrapper{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.subcont{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.title{
    font-size: var(--title-font);
    font-weight: 700;
    color: black;
}

.caption{
    font-size: var(--caption-font);
    color: var(--dark-grey);
    
}


.wholeWrapper{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

}

.gridWrapper{
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.rightWrapper{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    gap: 1vh;
}


.gridWrapper{
    user-select: none;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    row-gap: 6vh;
    width: 100%;
    height: auto; 
}

.subcont{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 1.5vh;
}



@media (max-width: 870px){
    .gridWrapper {
        user-select: none;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: space-evenly;
        row-gap: 12vh;
        width: 100%;
    }
    .gridWrapper {
        row-gap: 6vh;
    }
}

@media (max-width: 430px) {
    .wrapper{
        padding-block: 5vh;
    }
}

@media (max-width: 380px) {
    .gridWrapper {
        row-gap: 3vh;
        grid-template-columns: repeat(1, max-content);
    }
    .support{
        display: none;
    }
}

@media (max-width: 270px) {

    .gridWrapper {
        row-gap: 2vh;
    }

    .wrapper{
        gap: 5vh;
    }
}

