# Список игнорируемых гитом файлов

# 🔒 Файлы с конфиденциальной информацией (переменные окружения)
.env  

# 📦 Папка с зависимостями Node.js (устанавливаются через npm/yarn)
node_modules/  

# ⚙️ Скомпилированные файлы и библиотеки (C, C++)
*.o   # Объектные файлы
*.a   # Архивные библиотеки
*.so  # Разделяемые библиотеки

# 🚧 Временные файлы сборки Go
_obj/  
_test/  
vendor/  # Внешние зависимости (можно закоммитить, если нужно)

# 🛠️ Временные файлы и директории
tmp/  

# 📎 Запускаемые и исполняемые файлы
*.exe  # Windows-исполняемые файлы  
*.out  # Unix-исполняемые файлы  

# 🍏 Системные файлы macOS  
.DS_Store  

# 🗂️ Папка с бинарниками Go  
/bin/  

# 🔄 Файлы, генерируемые при сборке  
*.out 