.search-bar {
    --size: calc(1.8*var(--index));
    --padding: calc(0.07*var(--index));
    --expanded-width: 20vw;
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    border-radius: calc(2.0*var(--index));
    outline: 1px solid transparent;
    overflow: hidden;
    padding: var(--padding);
    margin-inline: auto;
    width: var(--size);
    height: var(--size);
    max-width: 100%;
    transition: width 0.5s, outline 0.5s;
    
}

.search-bar:focus-within {
    width: var(--expanded-width);
    outline: 1px solid #2e2e2e;
}

.search-bar:hover {
    width: var(--expanded-width);
    outline: 1px solid #2e2e2e;
}

.search-input {
    font-family: Raleway, serif;
    font-size: calc(0.7*var(--index));
    color: #3a3a3a;
    background-color: transparent;
    border: none;
    outline: none;
    margin-inline: 1rem;
    flex: auto;
    opacity: 0;
    transition: opacity 0.5s;
    padding-left: calc(0.7*var(--index));
}

.search-bar:focus-within .search-input {
    opacity: 1;
}

.search-bar:hover .search-input {
    opacity: 1;
}


.search-submit {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway, serif;
    font-size: calc(0.7*var(--index));
    color: #fff;
    background-color: var(--primary-color-dark);
    border-radius: 50%;
    border: none;
    width: calc(var(--size) - var(--padding) - var(--padding));
    aspect-ratio: 1;
    cursor: pointer;
}


.searchIcon{
    width: 20px;
    cursor: pointer;
    user-select: none;
}