.actionButton{
    color: white;
    background-color: var(--primary-color);
    font-weight: 550;
    font-size: calc(0.9*var(--index));
    padding: calc(0.65*var(--index));
    border-radius: calc(0.9*var(--index));
    padding-inline: calc(1.2*var(--index));
    text-align: center;
    transition: all 0.3s ease-out;
    cursor: pointer;
    border: none;
}


.actionButton:hover:not(:disabled) {
    background-color: var(--primary-color);
    transform: translateY(-0.4vh) scale(1.01);
    box-shadow: 0px 15px 20px -12px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-out;
}

.actionButton:active:not(:disabled) {
    background-color: var(--primary-color-dark);
    transform: translateY(0.4vh) scale(1);
    box-shadow: none;
    transition: all 0.3s ease-out;
}

.actionButton:disabled {
    background-color: rgb(67, 67, 67);
    cursor: not-allowed;
    transform: none !important;
    box-shadow: none !important;
}