.wrapper{
    padding-top: calc(2*var(--page-main-padding));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-left: var(--page-main-padding);
    margin-right: var(--page-main-padding);
    padding-bottom: calc(5*var(--page-main-padding));
}

.title{
    font-size: var(--title-font);
    font-weight: 650;
    margin-bottom: 1vh;
    color: black;
}

.caption{
    font-size: var(--caption-font);
    color: var(--dark-grey);
    margin-bottom: calc(2*var(--page-main-padding));
}

.container{
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4vw;

}
