<body>

</body>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <main>
    <header>
      <a class="logo" href="/">Главная</a>
      <a class="logo" href="/registration">Регистрация</a>
      <a class="logo" href="/login">Вход</a>
      <form action="/search" method="GET">
        <input autofocus class="search-input" value=""
        placeholder="Поиск по глоссарию" type="search" name="q">
      </form>
    </header>
  </main>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <h1>Глоссарий МИЭМ</h1>
</body>
</html>